:root {
    --background-color: #e64646;
    --primary-color: rgba(250, 66, 66, 0.5);
}
* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

.app {
    background-color: white;
    border-radius: 20px;
    overflow:hidden;

}

.header {
    border-radius: 10px;
}

.header img {
    
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.container {
    width: 100%;
    height: 400px;
    background-color: white;
    padding: 30px 40px 0 40px;
    margin-bottom: 40px;
}

.info {
    text-align: center;
}

.name   {
    position: relative;
}

.info img {
    position: absolute;
    top: -113px;
    left: 125px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.info h3 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 700;
}

/* .info p {
    margin-bottom: 30px;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.text {
    display: flex;
}

.text  h3 {
    margin-left: 20px;
    font-weight: 600;
}

.text  h3:first-child {
    margin-left: 0;
}



.picture_img .item {
    width: 100%;
    height: 100%;
}

.picture_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.1s linear;
    transform: scale(1);
}

.picture_img {
    max-height: 360px;
    overflow-y: auto;   
}

.picture_img .item_zoom {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.picture_img .item:hover {
    opacity: 0.8; 
    cursor: pointer;
}


.picture_img img:hover {
    transform: scale(1.1);
 }

.item {
    /* background-color: orange; */
    height: 150px;
    background-clip: content-box;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 20px;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

.nut button {
    border: none;
    outline: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--background-color);
    color: white;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 5px 0 0 var(--primary-color);
    transition: all 0.2s ease;
}


.nut button:hover {
    opacity: 0.9;
}


.nut button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 0 0 var(--primary-color);
    
}

.active {
    cursor: pointer;
}

.active-no {
    color: #b1b4ba;
    cursor: pointer;
}

  /*responsive*/
@media (min-width: 1024px) and (max-width: 1239px) {
    .info img {
        position: absolute;
        top: -113px;
        left: 95px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .info img {
        position: absolute;
        top: -113px;
        left: 233px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    
    }
}

@media (max-width: 740px){
    .info img {
        position: absolute;
        top: -113px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
    
    }
    .nut {
        display: none;
    }

}

.container ul {
    text-align: left;
    line-height: 2;
    max-height: 330px;
    overflow-y: auto;
}

.container ul li i{
    width: 24px;
    height: 24px;
    text-align: center;
}

.container li b {
    font-weight: 700;
}

.container li h3 {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.container li p {
    text-align: center;
    font-size: 20px;
    color:red;
    border-bottom: solid 2px rgba(0, 0, 0, 0.262);
}

.container li b:hover {
    text-decoration:underline;
    cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

/* modal */
.modal {
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.modal_body p {
    color: white;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal_container {
    position: relative;
    width: 440px;
    min-height: 440px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px 20px 6px 20px;
    animation: modal ease 1s;
}

.modal_container  .fa-window-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 26px;
    color: white;
    margin: 24px 20px 0 0;
    transition: all 0.1s linear;
}

.modal_container  .fa-window-close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal__tilte {
    font-size: 28px;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    letter-spacing: 5px;
}

.nd_nhap p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 4px;
    letter-spacing: 1px;
}

.nd_nhap input {
    width: 100%;
    height:45px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 14px;
}


.nd_nhap .nd_nhap--long {
    height: 210px;
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

.modal_footer {
    height: 60px;
    width: 100%;
    display: block;
    text-align: right;
}

.modal_footer button {
    width: 90px;
    height: 35px;
    font-weight: 600;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    float: right;
    transition: all 0.2s linear;
    cursor: pointer;
    position: relative;
    background-color: white;
    box-shadow: 0 5px 0 0 rgb(252,160,160);
    color: var(--background-color);
}


.modal_footer button:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 0 rgb(215, 215, 219);

}

.modal.open {
    display: block;
}

@keyframes modal {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}